body{
    background-color: #b194dcfa;
}

 header{
     font-size:40px;margin-left: 38%;color:rgb(99, 30, 30);color-scheme: red;

 }
#imagenprincipal{

    width: 20%;margin-left: 40%;vertical-align: middle;
}


.principalcolor{
    background-color: #f5a8d2;
}


h1{
    text-align:center; font-size:40px;
}
p{
    text-align: center;font-size:30px;
}

em strong{
    color: rgb(47, 3, 19);
}
